[submodule "mumble-common"]
	path = mumble-common
	url = https://github.com/Pierre-Emmanuel41/mumble-common.git
	update = rebase
	branch = master
[submodule "sound"]
	path = sound
	url = https://github.com/Pierre-Emmanuel41/sound.git
	update = rebase
	branch = master
